@charset "utf-8";
@import url("//at.alicdn.com/t/font_wda9rz5o39iwl8fr.css");

@keyframes rotating
{
  from{transform:rotate(0)}
  to{transform:rotate(360deg)}
}

.no-move{
  overflow: hidden!important;
}

.pop-mask{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top:0;
  text-align: center;
  padding: 0 15px;
  .pop{
    display: inline-block;
    margin: 50% auto 0;
    min-width: 80px;
    max-width: 100%;
    background: rgba(0,0,0,.6);
    color: white;
    border-radius: 5px;
    padding: 15px 10px;
    text-align: center;
    line-height: 1.5;
    z-index: 999;
    &>*{
      margin-top: 10px;
      margin-bottom: 0;
      &:first-child{
        margin-top: 0;
      }
    }
    .iconfont{
      font-size: 32px;
      display: block;
      &.icon-loading{
        animation: rotating 2s linear infinite;
      }
    }
    p{
      font-size: 13px;
    }
  }
}
